.keyboard {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: 'YS Text', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.21;
  color: #212121;
  margin: 0;
  margin-bottom: 48px;
}

.input {
  box-sizing: border-box;
  width: 596px;
  height: 100px;
  border-radius: 24px;
  border: 7px solid #FFB026;
  padding: 35px 42px;
  font-family: 'YS Display', sans-serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 1.04;
  color: #212121;
  margin: 0;
  margin-bottom: 32px;
  
  
  &:focus {
    outline: none;
  }
  
  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }

  &::-webkit-search-decoration {
    display: none;
  }

  &::-webkit-search-cancel-button {
    display: none;
  }

  &::-webkit-search-results-button {
    display: none;
  }

  &::-webkit-search-results-decoration {
    display: none;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}