.buttons {
  box-sizing: border-box;
  width: 596px;
  height: 401px;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "seven eight nine"
    "four five six"
    "one two three"
    "delete zero .";
}

.button {
  border: none;
  background-color: #F3F0E9;
  border-radius: 24px;
  padding: 0;
  font-family: 'YS Text', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.11;
  letter-spacing: -1.5%;
  color: #212121;

  &_zero {
    grid-area: zero;
  }

  &_one {
    grid-area: one;
  }

  &_two {
    grid-area: two;
  }

  &_three {
    grid-area: three;
  }

  &_four {
    grid-area: four;
  }

  &_five {
    grid-area: five;
  }

  &_six {
    grid-area: six;
  }

  &_seven {
    grid-area: seven;
  }

  &_eight {
    grid-area: eight;
  }

  &_nine {
    grid-area: nine;
  }

  &_delete {
    grid-area: delete;
    background-image: url('../../../images/close-icon.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px;
  }
}