.package {
    padding: 0;
    font-family: 'YS Display';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    width: 296px;
    height: 77.3%;
    background: #FED42B;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    transition: .3s ease-in-out;
    z-index: 10;

    &:hover {
        background: #F5C400;
    }
}