.package {
    padding-top: 97px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;
    align-items: center;
}

.package__title {
    margin: 0px 0 35px;
    font-family: 'YS Display';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #212121;

}

.package__number {
    margin: 0 0 40px;
    display: flex;
    align-items: center;
    font-family: 'YS Text';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 23px;
    letter-spacing: -0.01em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;

    width: 213px;
    height: 88px;
    background: #F29A00;
    border-radius: 24px;
}

.package__logo {
    margin-left: 10px;
    width: 64px;
    height: 64px;

}

.package__img {
    display: block;
}