.cellTitle {
    margin: 35px auto 0;
    font-family: 'YS Text';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    text-align: center;
    // letter-spacing: -0.02em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #212121;
    top: 0;
    position: absolute;
}

.cellNumber {
    margin: 8px 0 0;
    font-family: 'YS Display';
    font-weight: 700;
    font-size: 56px;
    line-height: 70px;
    letter-spacing: 0.02em;
}